body{
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}
nav{ 
    height: 80px;
    width: 100%;
    background: #1bc366;
    position: fixed;
    top: 0;
    z-index: 0;
  }
.navbar-header button{
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    padding: 12px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.24);
} 
.navbar-header button:hover{
    background-color: rgba(0, 0, 0, 0.51);
} 
.navbar-brand{
    float: left;
    margin:25px;
    font-size: 20px;
    text-decoration: none;
    font-color: white;
    color: white;
}
.navbar-header a:hover{
    text-decoration: underline;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
}
.navbar li a{
    text-decoration: none;
    text-decoration: none;
    margin: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(224, 47, 47);
    font-family: sans-serif;
}
.navbar li a:hover{
    background-color: white;
    color:rgb(224, 47, 47);
}

.formpart{
    margin-top:120px;
    margin-bottom: 200px;
}
.formpart h2{
    margin-left:20px;
}
.formpart h3{
    margin:20px;
}
.formpart h3 a{
   text-decoration: none;
    color: white;
    background-color: rgb(80, 77, 77);
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
.formpart h3 a:hover{
    background-color: black;
}
.formlist{
    margin:30px;
    font-family:sans-serif; 
}
.formlist a{
    text-decoration: none;
    font-family: sans-serif;
    color:#1bc366;
}
.formlist a:hover{
    color:black; 
}
.container form{
    margin:100px;
    float:left;
}
.container form label{
    color: #1bc366;
    font-family: sans-serif;
}
.container button{
    padding: 5px;
    background-color: #1bc366;
    border-style: none;
    color: white;
}
.container button:hover{
    background-color: rgb(224, 47, 47);
}
.customerform{
    margin:15px;
    font-family:sans-serif;
    float:left;
}
.customerform input{
    margin-left: 5px;
    padding: 4px;
    margin-right: 10px;
    padding-left: 8px;

}
.form-signin{
    border: 1px solid #CCC;
    border-radius: 1em;
    padding:30px;
    width:350px;
}
.customerform select{
    border-width: medium;
    font-size: 13px;
}
.submit-c button{
    margin-left: 100px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:15px;
}
.delete{
    margin:100px;
    font-family: sans-serif;
    font-size: 15px;
}